// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

window-rule {
    match app-id="firefox"
    match app-id="Code"
    match app-id="zen"
    match app-id="dev.zed.Zed"
    open-maximized true
}

window-rule {
    match app-id="org.gnome.Calculator"
    match app-id="com.saivert.pwvucontrol"
    match app-id="Alacritty" title="Updater"
    match app-id="Alacritty" title="nmtui"
    match app-id="Alacritty" title="Wallpaper Selector"
    open-floating true
    shadow {
        on
    }
}

window-rule {
    match title="^Floating Terminal$"
    open-floating true
    default-column-width { proportion 0.5; }
    default-window-height { proportion 0.7; }
}

window-rule {
    match app-id=r"^kitty$"

    draw-border-with-background false
}

window-rule {
    match app-id=r#"^nmtui-floating$"#

    open-floating true

    default-column-width {
        fixed 720
    }

    default-window-height {
        fixed 500
    }

    geometry-corner-radius 12
    clip-to-geometry true

    shadow {
        on
        softness 30
        spread 3
        offset x=0 y=8
        draw-behind-window true
        color "#00000040"
    }
}

window-rule {
    match app-id=r#"^org\.pulseaudio\.pavucontrol$"#

    open-floating true

    default-column-width {
        fixed 720
    }

    default-window-height {
        fixed 520
    }

    geometry-corner-radius 12
    clip-to-geometry true

    shadow {
        on
        softness 30
        spread 3
        offset x=0 y=8
        draw-behind-window true
        color "#00000040"
    }
}

window-rule {
    match app-id=r#"^blueman-manager$"#

    open-floating true

    default-column-width {
        fixed 560
    }

    default-window-height {
        fixed 420
    }

    geometry-corner-radius 12
    clip-to-geometry true

    shadow {
        on
        softness 30
        spread 3
        offset x=0 y=8
        draw-behind-window true
        color "#00000040"
    }
}
